.admin-footer {
    background-color: #2A2A2A;
  }
  
  .footer-logo-text-change {
    font-size: 23px;
    font-weight: bold;
    margin-left: 10px;
    color: white;
  }
  
  .footer-text {
    color: white; 
  }
  