.enquries-div{
    width: 357px;
    height: 390px;
    top: 399px;
    left: 1058px;
    background-color: #C7C7C7;
}

.enquries-div-1{
    width: 357px;
    height: 52px;
    top: 397px;
    left: 1058px;
    gap: 0px;
    opacity: 0px;

    background: #AA9166;


}